body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*------------HEADER------------*/
a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 150px;
    background: cornflowerblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 150px;
    margin-right: 10px;;
    border-radius: 100px;
}

.logo h1{
    font-size: 30px;
}

header nav a{
    font-size: 30px;
    padding-right: 10px;
    transition: 200ms;
}

header nav a:hover{
    color: white;
    text-shadow:black;
    text-shadow: 100px;
}

/*configuracion responsive para pantallas pequqeñas*/
@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    header nav{
        padding-bottom: 0;
        padding-top: 10px;
    }
}

/*------------ FIN HEADER------------*/